/* variaveis */

:root{
    --cor-azul: #191970;
    --cor-branca: #FFFFFF;
    --cor-preta: #1c1c1c;
    --cor-cinza: #919191;

    --tela-padrao: 1200px;

}

/* geral */

body{
    font-family: 'Nunito', sans-serif;
}

a:link{
    color: var(--cor-branca);
    text-decoration: none;
}
a:visited{
    color: var(--cor-cinza);
}

/* Barra superior */

nav{
    background-color: var(--cor-azul);
    color: var(--cor-branca);
}
.navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--tela-padrao);
    margin: 0 auto;
}
.navegacao ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navegacao li{
    padding: 0 20px;
}

/* header */

#topo{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;

    color: var(--cor-branca);
}
#sub-top{
    width: var(--tela-padrao);

}
