:root {
    --cor1: rgba(17, 17, 19, 0.5);
    --transparente: rgba(0, 0, 0, 0);
    --cor2: rgba(17, 17, 19, 1);
    --cor3: #b5b0af;
    --max-width: 1450px;
    --min-width: 360px;
    --color-white: #fbf8f6;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Shippori Antique B1", sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
body {
    width: 100%;
    min-height: 800px;
    background-color: var(--cor2);
}
.layout-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-container-header {
    width: 100%;
    min-height: 480px;
    height: 100vh;
    background: linear-gradient(
            to top,
            var(--cor2) 10%,
            var(--cor1),
            var(--transparente)
        ),
        url(./img/ryland-dean-6k6N8HTrXyE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabecalho */

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    max-width: var(--max-width);
    min-width: var(--min-width);
    width: 100%;
    height: 15em;
    background-color: rgba(102, 51, 153, 0);
    color: white;
}

/* Principal */

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: var(--max-width);
    min-width: var(--min-width);
    width: 100%;
    height: 85em;
    color: white;
    padding-top: 150px;
}

h1 {
    font-size: 50px;
    text-align: center;
}
ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
}

/* Secao projetos */

.secao-projectos {
    max-width: var(--max-width);
    min-width: var(--min-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-projeto {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
    text-decoration-color: white;
    color: black;
}
.titulo-projeto h1 {
    display: inline;
    text-align: center;
    background-color: white;
}
.pr1,
.pr2,
.pr3 {
    text-align: center;
}

.project {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
    width: 100%;
    height: 100vh;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
    height: 20em;
    background-color: var(--cor3);
    margin-bottom: 100px;
}
.project a {
    width: 100%;
    height: 60%;
}
.img {
    width: 100%;
    height: 100%;
}
.img1 {
    background-image: url(https://raw.githubusercontent.com/hagiomassaru/calculadora/main/img/Calculadora09-01-2022%2021-25.gif);
    background-position: unset;
    background-size: 100%;
    background-repeat: no-repeat;
}
.img2 {
    background-image: url(https://c.tenor.com/iyJ0r-hK4gYAAAAC/em-breve-glitch.gif);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.img3 {
    background-image: url(https://c.tenor.com/iyJ0r-hK4gYAAAAC/em-breve-glitch.gif);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.box h3 {
    width: 100%;
    height: 20%;
}
.box p {
    width: 100%;
    height: 20%;
}
.content h1 {
    padding: 10px;
}
.content p {
    padding: 10px;
}

/* Secao About*/
.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 25px;
    flex-wrap: wrap;
    max-width: var(--max-width);
    min-width: var(--min-width);
    width: 100%;
    height: 80vh;
}
.elemento-about-titulo {
    background-color: white;
}
.elemento-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
.elemento-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.img-about {
    background-image: url('./img/IMG-20180930-WA0007.jpg');
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
}
.paragrafo-about {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
.paragrafo-about p{
    background-color: white;
    width: 75%;
}

/* Secao footer */
footer {
    max-width: var(--max-width);
    min-width: var(--min-width);
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor3);
}
.contact {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}
.cont {
    width: 40px;
    height: 40px;
}
.contact .linkdin{
    background-image: url('./img/linkedin.svg')
}
.contact .facebook{
    background-image: url('./img/facebook.svg');
}
.contact .twitter{
    background-image: url('./img/twitter.svg');
}
.contact .instagram{
    background-image: url('./img/instagram.svg');
}
.contact .github{
    background-image: url('./img/github.svg');
}
.contact .email{
    background-image: url("./img/gmail.svg");
